shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
auto-install-peers=true
supported-architectures[cpu][]=arm64
supported-architectures[cpu][]=x64
supported-architectures[os][]=darwin
supported-architectures[os][]=linux